@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
main {
    max-width: 1440px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    background: #EEEEEE;
    height: 355px;
    font-weight: bold;
    text-align: center;
}

.banner {
    margin-left: 100px;
}

.shape {
    margin-left: 212px;
}

.box-header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-weight: bold;
    height: 150px;
}

header h1 {
    font-size: 55px;
}

nav {
    display: flex;
    margin-left: 200px;
    /* align-items: center;
    justify-content: center; */
}

nav a {
    padding: 30px;
}

section h1 {
    font-size: 18px;
    margin-left: 10px;
}

section {
    display: flex;
}

section p {
    margin-left: 130px;
    font-size: 14px;
}

.img-pink {
    margin-left: 25px;
}

.img-sedona {
    margin-left: 25px;
}